

.red500
    background: #F44336

.pink500
    background: #E91E63

.purple500
    background: #9C27B0

.deep-purple500
    background: #673AB7

.indigo500
    background: #3F51B5

.blue500
    background: #2196F3

.light-blue500
    background: #03A9F4

.cyan500
    background: #00BCD4

.teal500
    background: #009688

.green500
    background: #4CAF50

.light-green500
    background: #8BC34A

.lime500
    background: #CDDC39

.yellow500
    background: #FFEB3B

.amber500
    background: #FFC107

.orange500
    background: #FF9800

.deep-orange500
    background: #FF5722

.brown500
    background: #795548

.grey500
    background: #9E9E9E

.blue-grey500
    background: #607D8B

//Black-And-White
.black
    background: #000000
.white
    background: #FFFFFF
